<mat-toolbar color="primary">
    <span>Food Tracker</span>
</mat-toolbar>

<mat-card class="tracker-card">
    <mat-card-header>
        <mat-card-title fxLayoutAlign="center">Calculate your daily carb intake</mat-card-title>
        <mat-card-subtitle>Are you ready...?</mat-card-subtitle>
    </mat-card-header>

    <div class="right">
        <app-date-picker (datePicked)="onDatePicked($event)"></app-date-picker>
    </div>
    <div class="centered-horizontal">
        <!-- (onFoodPicked)="onFoodSelect($event) is child component autocomplete-search -->
        <!-- emitting an event to parent to pass in the selected food name -->
        <app-autocomplete-search (onFoodPicked)="onFoodSelect($event)"></app-autocomplete-search>
    </div>

    <div>
        <app-common-food-chips [preferredFood]="commonFood"
                               (onPreferredFoodPicked)="onFoodSelect($event)">
        </app-common-food-chips>
    </div>

    <div *ngIf="foodSelected.length>0">
        <div>
            <app-nutrition-panel [foodList]="foodSelected"
                                 [foodSummary]="summaryNutrition"
                                 (onFoodDeletion)="onFoodDeleted($event)"
                                 (onQuantityChange)="onFoodQuantityChange($event)">
            </app-nutrition-panel>
        </div>
        <br>
        <button mat-raised-button
                (click)="onSubmit()"
                color="primary">Submit</button>
    </div>
</mat-card>
