<div mat-subheader>Nutrition - Individual Items</div>
<div class="quantity-label">
    <label>Quantities</label>
</div>

<mat-accordion multi="true">
    <div *ngFor="let food of foodList">
        <mat-expansion-panel [expanded]="false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon mat-list-icon
                              color="primary">fastfood</mat-icon>
                    {{ food.foodName + ', ' + food.sizePerServing }}
                </mat-panel-title>
                <button mat-icon-button
                        color="primary"
                        matTooltip="Delete food item"
                        (click)="deleteFoodItem(food)">
                    <mat-icon>delete</mat-icon>
                </button>
                <input type="number"
                       min="0"
                       id="quantity"
                       matTooltip="Mininum Quantity is 1"
                       (click)="$event.stopPropagation()"
                       class="quantity-input"
                       [(value)]="food.foodQuantity"
                       (ng-change)="value=food.quantity"
                       (input)="updateQuantity(food,$event.target.value)" />
                <!-- above input binding is two-way binding [()] -->
            </mat-expansion-panel-header>
            <mat-list *ngFor="let key of nutritionEnumKeys">
                <mat-list-item>
                    <div mat-line>
                        <span>{{ getEnumValue(key) }}</span>
                        <span class="nutrition-fact">{{ displayNumber(food[key]*food.foodQuantity) }}</span>
                    </div>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </div>

    <br>
    <mat-divider></mat-divider>
    <div mat-subheader>Nutrition - Summary</div>

    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon mat-list-icon
                          color="primary">shopping_bag</mat-icon>
                Total
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list *ngFor="let key of nutritionEnumKeys">
            <mat-list-item>
                <div mat-line>
                    <span>{{ getEnumValue(key) }}</span>
                    <span class="nutrition-fact">{{ foodSummary[key] }}</span>
                </div>
            </mat-list-item>
        </mat-list>
    </mat-expansion-panel>
</mat-accordion>