<form class="tracker-form">
    <mat-form-field class="tracker-full-width">
        <mat-label>Search a food name to get started</mat-label>
        <input type="text"
               matInput
               [formControl]="searchFormControl"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete"
                          autoActiveFirstOption
                          (optionSelected)="selectFood($event)">
            <mat-option *ngFor="let foodItem of filteredOptions | async"
                        [value]="foodItem.foodName + ', ' + foodItem.sizePerServing">
                {{ foodItem.foodName + ', ' + foodItem.sizePerServing }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>
